<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<head>
	<title>Airdrop</title>
</head>
<body class="jumbotron">
<script src="static/js/bootstrap.js"> </script>


<style type="text/css">
	A {
		text-decoration: none;
	}	
</style>

<div class="jumbotron" align="center">
  <h1 class="display-4" align="center">Airdrop</h1>
  <p class="lead">Просто, Быстро, Удобно
  </p>
  <hr class="my-4">
  <p>Нажмите "Выбрать" для выбора файла для загрузки</p>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input class="btn btn-success" type=submit value=Загрузить>
    </form>
    <a class="btn btn-primary btn-lg" href="upload" role="button" >Посмотреть загрузки</a>
</div>

</body>
</html>
